<% if empty_database? %>
  <div class="callout alert margin">
    <p><%= t("admin.audits.empty") %></p>
  </div>
<% else %>
  <%= render Admin::Audits::SearchComponent.new %>

  <% if empty_search? %>
    <div class="callout alert margin">
      <%= t("admin.shared.no_search_results") %>
    </div>
  <% else %>
    <table id="audits">
      <thead>
        <tr>
          <th><%= t("admin.audits.id") %></th>
          <th><%= t("admin.audits.auditable") %></th>
          <th><%= t("admin.audits.field") %></th>
          <th><%= t("admin.audits.old_value") %></th>
          <th><%= t("admin.audits.new_value") %></th>
          <th><%= t("admin.audits.edited_at") %></th>
          <th><%= t("admin.audits.edited_by") %></th>
          <th><%= t("admin.audits.associated") %></th>
          <th><%= t("admin.audits.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% audits.each do |audit| %>
          <% audit.audited_changes.each do |field, (old_value, new_value)| %>
            <tr>
            <td><%= audit.id %></td>
            <td><%= audit.auditable_type %>#<%= audit.auditable_id %></td>
            <td><%= sanitize(field_name(audit, field)) %></td>
            <td><%= truncate(audit_value(old_value), length: 50) %></td>
            <td><%= truncate(audit_value(new_value), length: 50) %></td>
            <td><%= l audit.created_at, format: :datetime %></td>
            <td><%= audit.user&.name %></td>
            <td><%= audit.associated_type %>#<%= audit.associated_id %></td>
            <td>
              <%= render Admin::TableActionsComponent.new(audit, actions: []) do |actions| %>
                <%= actions.action(:show, text: t("shared.show"), path: admin_audit_path(audit)) %>
              <% end %>
            </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <%= paginate audits %>
  <% end %>
<% end %>
